---
layout: default
---
<div class="container mx-auto text-center pt-40">
  <img class="mx-auto h-48 mb-5" src="assets/owen-cropped.png" alt="">
  <h1 class="text-white text-4xl">Owen Clark</h1>

  <h2 class="text-gray-400 text-xl mt-3">Full Stack Software Developer</h2>
  <h3 class="text-gray-400 text-lg mt-2">Ruby <span class="separator">|</span> Rails <span class="separator">|</span>
    RSpec
    <span class="separator">|</span> Redis <span class="separator">|</span> Postgres <span class="separator">|</span> AWS
  </h3>

  <span class="inline-flex rounded-md shadow-sm mt-15">
    <a href="https://github.com/cabourn"
      class="inline-flex items-center px-6 py-3 border border-brand-600 text-base leading-6 font-medium rounded-md text-brand-600 hover:text-white bg-transparent hover:bg-brand-600 focus:outline-none focus:border-brand-700 focus:shadow-outline-brand active:bg-brand-700 transition ease-in-out duration-150">
      <svg class="-ml-1 mr-3 h-5 w-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path
          d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
        </path>
      </svg>
      GitHub
    </a>
  </span>
  <div class="text-black mt-5">
    <a href="mailto:owen@cabourn.dev" class="hover:underline text-brand-500">owen@cabourn.dev</a>
  </div>
</div>
